* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.color-base {
    color: #555;
}

.text-center {
    text-align: center;
}

.btn, .btn-sm {
    display: inline-block;
    border: 1px solid #CCC;
    background-color: white;
    text-decoration: none;
    padding: .5em 1em;
    color: #555;
    user-select: none;
}

.btn-sm {
    padding: .3em .7em;
}

.border-bottom {
    border-bottom: 1px solid #DDD;
}

.border {
    border: 1px solid #CCC;
}

.hv {
    min-height: 90%;
    background-color: #FFF;
}

.overflow {
    overflow: auto;
}

.overflow-none {
    overflow: hidden;
}