<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electron 编辑器（Demo）</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />
</head>
<body>
    <div class="content">
        <h1 class="color-base">Electron 编辑器（Demo）</h1>
        <div class="routes">
            <a class="btn btn-blue" href="#" id="open-dir">打开目录</a>
        </div>
    </div>

    <div class="content color-base">
        <h3 class="color-base">最近访问</h3>
        <ul class="history-list" id="history-list">
            <!-- history list -->
        </ul>
    </div>

    <script src="../renderer/index.js"></script>
</body>
</html>
